/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{scroll-behavior: smooth}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #f9f9f9;
    height: 100%;
    
}

/* Fixed Navigation Bar */
.navbar {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f4dada;
    padding: 10px 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for navbar */
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    color: #363537;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #f9f9f9; /* Accent color on hover */
}

/* Parallax Background */
.parallax {
    position: relative;
    overflow: hidden;
}

.parallax img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Ensures the image stays behind the content */
}

#scroll-wrapper {
    backdrop-filter: blur(5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

/* Main Content */
.main-content {
     will-change: transform;
}

/* Section Style */
.floating-section, .floating-section-two-column {
  display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    text-align: center;      /* optional: center text inside the section-content */
	position: relative;
	background: rgba(89, 88, 88, 0.31);
	padding: 20px;
	height: 90vh;

}

.floating-section h2, .floating-section-two-column h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.floating-section p, .floating-section-two-column p {
    font-size: 1.2rem;
    
}

/* Two-Column Section */
.floating-section-two-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4dada;
    color: #363537;
}

#section-4{
    background-color: #f4dada;
    color: #363537;
}

.LSimage {
    background: url('/Images/liina.jpg') no-repeat center center;
    background-size: cover;
    width: 50vw;
    height: 50vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-content {
    width: 48%;
}

/* Scroll Effects */
section {
    margin-bottom: 80px;
}

/* Scroll-to-Top Button (Optional) */
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

.scroll-to-top.show {
    display: flex;
}
