@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Pirata+One&display=swap');

@font-face {
    font-family: 'Lucia BT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lucia BT Regular'), url('Lucia BT.woff') format('woff');
    }

/* <weight>: Use a value from 300 to 700
 <uniquifier>: Use a unique and descriptive class name*/

.cormorant-body {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{scroll-behavior: smooth}

h2
{
    font-family: 'Lucia BT Regular';    
}

/* Body */
body, button{
    
    font-family: 'Cormorant', sans-serif;
    background-color: #EAEBE4; /*greeny*/
    color: #f9f9f9; /*main font colour*/
    height: 100%;

    
}

/*ADJUSTING LINKS COLOURS*/
a {color: #f9f9f9;}

.floating-section-two-column a
{color: #62793A; }

button{
color: #2d2a27; /*Dark Grey*/
    border: none;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: color 0.3s ease;
}

button:hover {
    color: #62793A; /* Accent color on hover */
}

/* Fixed Navigation Bar */
.navbar {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EAEBE4; /* Green color */
    padding: 10px 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for navbar */
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a, button {
    color: #2d2a27; /*text color Dark Grey*/
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #62793A; /* Accent color on hover same as button*/
}

/* Parallax Background */
.parallax {

    position: relative;
    overflow: hidden;
}

.parallax img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Ensures the image stays behind the content */
}

#section-1
{
  text-shadow: 1px 2px 5px #000;
    grid-auto-rows: minmax(min-content, max-content);

}

/* Section Style */
.floating-section, .floating-section-two-column, .floating-section-two-column-flipped {
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    text-align: center;      /* optional: center text inside the section-content */
	position: relative;
backdrop-filter: blur(10px);
background-color: rgba(10, 10, 0, 0.45);
	padding: 20px;
	grid-auto-rows: minmax(min-content, max-content);
  color: #f9f9f9;

}

/*Makes the intro look nice and even*/
.floating-section
{
    display: grid;
    grid-template-columns: 15% 35%;
   
}

@media only screen and (max-width: 800px){
.floating-section
{
    grid-template-columns: 20% 80%;
}
}

/*Consistent H2 Resizing*/
.main-content, .floating-section h2, .floating-section-two-column, .floating-section-two-column-flipped h2 {
    font-size: 2rem;

}

.floating-section p, .floating-section-two-column, .floating-section-two-column-flipped p {
    font-size: 1.4rem;
    
}

/* Two-Column Section With Background */
.floating-section-two-column {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-auto-rows: minmax(min-content, max-content);
    grid-column-gap:5%;
    align-items: center;
    background-color: #EAEBE4; /*green*/
    color: #2d2a27; /*Dark Grey*/
    padding: 4%;
}

/* Two-Column Section Flipped */
.floating-section-two-column-flipped {
background-color: rgba(10, 10, 0, 0.45);
color: #F9F9F9;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-auto-rows: minmax(min-content, max-content);
    grid-column-gap:5%;
    align-items: center;
    padding: 4%;
  text-shadow: 1px 2px 5px #000;
}



#section-4{
    background-color: #EAEBE4; /*green*/
    color: #2d2a27; /*Dark Grey*/
}

.LSimage {
    background: url('https://github.com/cpmmckeown/weddingwebsite/raw/refs/heads/main/Images/us2COMP.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.flower
{
position: relative;
  top: 4%;
  z-index: -1;
  filter: brightness(3.2);
}

/* Scroll Effects */
section {
    margin-bottom: 80px;
}

/* Scroll-to-Top Button (Optional) */
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

.scroll-to-top.show {
    display: flex;
}

.rsvp
{
font-size: 0.7em;
display: grid;
grid-template-columns: 100%;
grid-row-gap: 5%;
grid-auto-rows: minmax(min-content, max-content);
padding: 20%;
text-align: center;
}

/**************RESIZING RULES FOR PHONES*********************/
@media only screen and (max-width: 800px){

.flower
{ filter: brightness(0.5);}

.parallax img{
height: 1000px;
}

.button{font-size:0.5rem;}

.navbar{font-size:0.5rem;}

#section-1
{
  grid-auto-rows: minmax(min-content, max-content);
}


 .floating-section-two-column-flipped, .floating-section-two-column 
    {
/*OLD IOS SOLUTION
        display: grid;
        grid-template-columns: 100%;
	grid-row-gap: 5%;
	grid-auto-rows: minmax(min-content, max-content);
	padding-bottom: 20%;
*/
  
  align-items: center;
  display: flex;
flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  padding-bottom: 50px;
  position: relative;


    }
}




